---
const {
  repo = "AQchance/AQchance-blog",
  repoId = "R_kgDOQSomaw",
  category = "Announcements",
  categoryId = "DIC_kwDOQSoma84CxuEa",
  mapping = "title",
  reactions = true,
  theme = "dark_tritanopia",
  lang = "zh-CN",
} = Astro.props;
---

<div class="giscus-wrapper mt-6">
  <div id="giscus"></div>
  <script src="https://giscus.app/client.js"
          data-repo={repo}
          data-repo-id={repoId}
          data-category={category}
          data-category-id={categoryId}
          data-mapping={mapping}
          data-strict="0"
          data-reactions-enabled={reactions ? "1" : "0"}
          data-emit-metadata="0"
          data-input-position="top"
          data-theme={theme}
          data-lang={lang}
          crossorigin="anonymous"
          async>
  </script>
</div>
